body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    font-family: 'Segoe UI', sans-serif;
}

.calculator {
    width: 360px;
    padding: 40px;
    border-radius: 20px;
    background: #111827;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.15), 0 25px 60px rgba(0, 0, 0, 0.8);
}

.calculator h2 {
    text-align: center;
    color: #38bdf8;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 26px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    text-align: right;
    background: #020617;
    color: #e5e7eb;
    box-shadow: inset 0 0 12px rgba(56, 189, 248, 0.4);
}

.buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background: #1f2933;
    color: #e5e7eb;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;
}

button:hover {
    background: #38bdf8;
    color: #020617;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.95);
}

button.wide {
    grid-column: span 2;
    background: #ef4444;
    color: white;
    font-weight: bold;
}

button.wide:hover {
    background: #dc2626;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.9);
}

button:nth-child(3) {
    background: #22c55e;
    color: #022c22;
    font-weight: bold;
}

button:nth-child(3):hover {
    background: #16a34a;
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.9);
}
