* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient( #1f1f2e, #0b0b14);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.box {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: #111;
  box-shadow:
    0 0 20px rgba(0, 255, 255, 0.2),
    inset 0 0 20px rgba(0, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #00eaff;
  letter-spacing: 1px;
}

#display {
  font-size: 36px;
  margin: 15px 0;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 8px #00eaff;
}

button {
  background: transparent;
  border: 2px solid #00eaff;
  color: #00eaff;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}




button:hover {
  color: #111;
  background: #00eaff;
  box-shadow: 0 0 15px #00eaff;
  transform: scale(1.08);
}


